* {
  box-sizing: border-box;
  outline: none;
}
h4{
  margin-block-start: 0px;
  margin-block-end: 10px;
}
body {
  margin: 0;
  font-family: Sans-serif;
  overflow: hidden;
}
.dashboard {
  height: 100vh;
  display: flex;
}
.left {
  background-color: #f2f3f7;
  height: 100%;
  display: flex;
}
.menu {
  margin-top: 20px;
}
.navigation {
  width: 270px;
  border-right: 1px solid #ddd;
}
.avatar-container {
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 2vw;
    margin-left: 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #007BFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

#user-name {
    margin-left: 15px;
}

#logout{
  margin-left: 10px;
  cursor: pointer;
  padding: 10px;
}
#logout:hover{
  
  border-radius: 25px;
  background-color: rgb(182, 182, 182);
}


.wrapper2 {
  padding: 0 25px;
  height: 100%;
  overflow: auto;
}
.message-header-icons{
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  
}
.lana:hover{
  filter:  grayscale(100%) invert(100%) sepia(100%);
  cursor: pointer;
}
    
.message-header-icons:hover{
  background-color: #f2f3f7;
  cursor: pointer;
}
.compose {
  width : 214px;
  font-family: inherit;
  font-size: 18px;
  background: #0063ee;
  color: white;
  padding: 10px;
  padding-left: 1em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
  margin-bottom: 30px;
}

.compose span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.compose svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.compose:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.compose:hover svg {
  transform: translateX(4.3em) rotate(45deg) scale(1.1);
}

.compose:hover span {
  transform: translateX(10em);
}

.compose:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
.compose:hover{
cursor:pointer;
}

.folder-icons {
  
  padding: 5px 5px 5px 17px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
}
.folder-icons:hover {
  background-color: #ffffff;
}
.folder-icons.active {
  background-color: #ffffff;
}




.label-icons{
  padding: 5px 5px 5px 17px;
  display: flex;
  align-items: center;
}
.label-icons:hover{
  
  cursor: pointer;
  border-radius: 15px;
  text-decoration: underline #0e0808;
}

.icon-name {
  margin-left: 26px;
  color: grey;
}


.names {
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
}

.right-side {
  background-color: #ffffff;
  width: 100%;
  
  display: flex;
  flex-direction: column;
}
.right-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}


.scroll-cards {
  width: 40%;
  height: 100%;
  overflow: auto;
background-color: white;
  
}
.card {
  background-color: white;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 25px 25px 15px 25px;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
  
}
.clicky{
  cursor: pointer;
}
.mail-names {
  color: grey;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}
.mail-icons{
  width: 80px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.top-card {
  display: flex;
  align-items: center;
}
.top-card:hover , .mail-info:hover {
  cursor: pointer;
}
.top-card > img {
  width: 10px;
  border-radius: 10px;
}
.mail-info {
  margin: 10px 20px;
  margin-left: 20px;
  line-height: 1.7;
  font-weight: 600;
}

.bottom-info {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.date {
  color: grey;
  cursor: pointer;
}

.star:hover{
cursor: pointer;
}

.card .star {
  opacity: 0; /* Initially hide the star icons */
  transform: translateY(100%); /* Move icons below their original position */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transitions */
}

.card:hover .star {
  opacity: 1; /* Make the star icons fully visible when hovering on the card */
  transform: translateY(0); /* Move icons back to their original position */
}


.rectangle {
  display: none;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  background: #007BFF;
  transform: scale(0);
  border-radius: 50%;
  color: white;
  opacity: 0;
  overflow: hidden;
  animation: scale-in 0.3s ease-out forwards, expand 0.35s 0.25s ease-out forwards ;
  transition: opacity 0.5s ease-in-out;
}
.notification-text {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  animation: fade-in 0.65s ease-in forwards;
}
@keyframes scale-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes expand {
  50% {
    width: 350px;
    border-radius: 6px;
  }
  100% {
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

  
.message {

  flex: 1;
  background-color: white;
  padding: 25px;
  overflow: auto;
}
.message-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email {
  color: gray;
  font-size: small;
}
.email > span {
  margin-left: 5px;
  color: black;
  font-size: 14px;
}
.mes-date {
  margin-bottom: 5px;
  margin-top: 5px;
  color: grey;
  font-size: 14px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.message-from {
  margin-top: 20px;
  color: grey;
  font-size: 17px;
}





::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  






.search-input{
    margin-left: 10px;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: var(--light-font);
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease;
}
  
.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--light-font);
  opacity: 0.5;
}



.search-wrapper {

  margin-left: 20px;
  border-radius: 10px;
  background-color: #f2f3f7;
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  max-width: 480px;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}


::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {

  border-radius: 25px;
}

.inbox-name{
  margin-left: 20px;
  margin-bottom: 2vw;
}

.floatingNav {
  border-radius: 2px;
  box-shadow: -8px 10px 81px -20px rgba(0,0,0,0.36);
}


.cards-header{
  transition: 0.2s;
  z-index: 1;
  padding-bottom: 20px;
  position: sticky;
  top: 0px;
  background-color: white;

  border-radius: 15px;
}


.compose.active {
  transform: scale(0.7);
  width: 60px;
  margin-left: 50x;
  border-radius: 50px;
}
.new-mail {
  background: var(--background-color);
  border: 1px solid hsla(0, 0%, 50.2%, .2);
  border-radius: 7px;
  bottom: 20px;
  box-shadow: 0 11px 20px 0 transparent;
  left: 20px;
  opacity: 0;
  position: absolute;
  transform-origin: bottom left;
  transition-duration: .3s;
  transition-property: transform, visibility, opacity;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  width: 600px;
  z-index: 99;
}
.new-mail__close {
  cursor: pointer;
  padding: 5px;
}
.new-mail.active {
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, .2);
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  background: white;
}
.new-mail__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 40px;
}
.new-mail-exp,
.new-mail__top {
  border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
  font-weight: 700;
}
.new-mail-exp {
  background: hsla(0, 0%, 50.2%, .1);
  color: #636363;
  padding: 10px 40px;
}
.new-mail-exp__item {
  align-items: center;
  display: grid;
  grid-template-columns: 70px 1fr;
  margin-bottom: 10px;
}
.new-mail-exp__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
  font-weight: 700;
  outline: 0;
  padding: 5px;
  width: 100%;
}
.new-mail-exp__input::placeholder {
  color: #9c9c9c;
  font-style: italic;
  font-weight: 400;
}
.new-mail-exp__label {
  font-size: .8rem;
}
.new-mail-foot {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.new-mail-foot__icon {
  border-radius: 5px;
  color: #b1b1b1;
  cursor: pointer;
  padding: 10px;
}
.new-mail-foot__icon:hover {
  background: rgba(0, 0, 0, .07);
  color: #6d6d6d;
}
.new-mail__message {
  background: var(--background-color);
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--font-color);
  max-height: 50vh;
  min-height: 30vh;
  outline: 0;
  padding: 20px 40px;
  resize: vertical;
  width: 100%;
}

@font-face {
  font-family: 'Cabin Sketch', cursive;
  src: url( 'https://fonts.googleapis.com/css?family=Cabin+Sketch');
}


.body {
  min-height: 100%;
}
.body {
  display: flex;
}
h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3em;
  text-align: center;
  opacity: 0.8;
  order: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
h1 small {
  display: block;
}
.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sketch {
  position: relative;
  height: 400px;
  min-width: 400px;
  margin: 0;
  overflow: visible;
  order: 2;
}
.bee-sketch {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.red {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png) no-repeat center center;
  opacity: 1;
  animation: red 3s linear infinite, opacityRed 5s linear alternate infinite;
}
.blue {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png) no-repeat center center;
  opacity: 0;
  animation: blue 3s linear infinite, opacityBlue 5s linear alternate infinite;
}

@keyframes blue {
  0% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png);
  }
  9.09% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-2.png);
  }
  27.27% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-3.png);
  }
  36.36% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-4.png);
  }
  45.45% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-5.png);
  }
  54.54% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-6.png);
  }
  63.63% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-7.png);
  }
  72.72% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-8.png);
  }
  81.81% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-9.png);
  }
  100% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png);
  }
}
@keyframes red {
  0% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png);
  }
  9.09% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-2.png);
  }
  27.27% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-3.png);
  }
  36.36% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-4.png);
  }
  45.45% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-5.png);
  }
  54.54% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-6.png);
  }
  63.63% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-7.png);
  }
  72.72% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-8.png);
  }
  81.81% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-9.png);
  }
  100% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png);
  }
}
@keyframes opacityBlue {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityRed {
  from {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  to {
    opacity: 0.3;
  }
}
