{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smail login</title>
    <link rel="stylesheet" href="{% static 'mail/stylelogin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  </head>
</head>
<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
            {% if message %}
        <div style="color: red;">{{ message }}</div>
            {% endif %}
        <form action="{% url 'login' %}" method="post" class="sign-in-form">
          {% csrf_token %}
          <h2 class="title">Login</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="email" name="email" autocomplete="email" placeholder="Email" required="yes">
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" autocomplete="current-password" placeholder="Password" id="id_password" required="yes">
            <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
          </div>

          <input type="submit" value="Sign in" class="btn solid">

          <div class="social-media">
            <a class="icon-mode" onclick="toggleTheme('dark');"><i class="fas fa-moon"></i></a>
            <a class="icon-mode" onclick="toggleTheme('light');"><i class="fas fa-sun"></i></a>
          </div>
          <p class="text-mode">Change theme</p>
        </form>
        <form action="{% url 'register' %}" method="post" class="sign-up-form">
          {% csrf_token %}
          <h2 class="title">Register</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="first_name" autocomplete="first name" placeholder="First name" required="yes">
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="last_name" autocomplete="last name" placeholder="Last name" required="yes">
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" autocomplete="email" placeholder="Choose an Email" required="yes">
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" autocomplete="current-password" placeholder="Password" id="id_reg" required="yes">
            <i class="far fa-eye" id="toggleReg" style="cursor: pointer;"></i>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="confirmation" autocomplete="current-password" placeholder="Confirm Password" id="id_reg" required="yes">
            <i class="far fa-eye" id="toggleReg" style="cursor: pointer;"></i>
          </div>

          <label class="check">
            <input type="checkbox" checked="checked">
            <span class="checkmark">I accept the <a href="#" id="clickable">terms and services</a></span>
          </label>
          <input type="submit" value="Create account" class="btn solid">

        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>You don't have an account?</h3>
          <p>Create your account right now to follow people and like publications</p>
          <button class="btn transparent" id="sign-up-btn">Register</button>
        </div>
        
      </div>

      <div class="panel right-panel">
        <div class="content">
          <h3>Already have an account?</h3>
          <p>Login to see your notifications and post your favorite photos</p>
          <button class="btn transparent" id="sign-in-btn">Sign in</button>
        </div>
        
      </div>
    </div>
  </div>

  <script src="{% static 'mail/scriptlogin.js' %}"> </script>


</body>
</html>